.par{
    border-style:solid;
    color:blue;
}
.impar{
    border-style:solid;
    color:yellow;
}

.celda:nth-child(even){
    border-style:solid;
    color:blue;
}

.celda:nth-child(odd){
    border-style:solid;
    color:yellow;
}

#input-numero-celdas{
    margin:0 0 10px 0;
}