body{
    margin:0;
}

.container-pagina{
    margin: 0px 32px ;
}

.encabezado {
    overflow: hidden;
    background-color: #F4B400;
}

div.encabezado div.logo img{
    height: 60px;
    width: 60px;   
    float:left; 
}

div.encabezado div.links{
    text-align: center;
    float:right; 
    margin: 10px;

}

div.encabezado div.links a{
    margin: 9px 5px;
}

p,div{
    font-family: "Arial";
    font-size: 12px;
}

h1{
    font-family:"Times New Roman";
    font-size: 18px;
    font-weight:normal;
}

p.destacado strong, 
div.destacado strong{
    color:green;
}

div.destacado p strong{
    color:yellow;
}

p.destacado,
div.destacado{
    color:red;
}

th.destacado{
    color:grey;
}

h2{
    font-family:"Times New Roman";
    font-size: 15px;
    font-weight:normal;
}

h3{
    font-family:"Times New Roman";
    font-size: 12px;
    font-weight:normal;
}

table{
    border: 1px solid gray;
}

thead{
    background-color: #4285F4;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
