div.ingresa-con-google{
    text-align: center;
    background-color: #4285F4;
    margin:10px 0;
    padding: 70px 0;
}

div.no-tenes-usuario{
    text-align: center;
    background-color: lightblue;
    margin:10px 0;
    padding: 70px 0 ;
}

div.col-sm-4 h1{
    font-size: 60px;
}