.logo {
    border-radius: 10px;
    margin: 10px;
}

.dot {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
}

.dot1 {
    background-color: #1da1f2;
}

.dot2 {
    background-color: #3b5998 ;
}
.dot3 {
    background-color: #dd4b39 ;
}

div.shadow-sm a:visited, div.col-lg-4 p a:visited {
    color: #dd4b39;
}

div.registracion-de-usuario {
    padding: 25px 0;
}

.btn {
    font-weight: bold;
    background-color: #dd4b39;
    color: white;
    margin: 15px 0 0 0;
}

.form-check {
    margin: 15px 0 0 0;
}

div.row div.text-center {
    padding: 12px 0 0 0;
}

.banner {
    background-image: url('../image/bg.png');
    background-color: #ae4c44;
    color: white;
    padding:30px 0 ;
}

.banner p {
    color:#cd9298;
}

.texto-card {
    padding: 10px 0 0 20px;
}

.texto-heading {
    text-align: center;
}

@media only screen and (min-width: 576px){
    .texto-heading {
        text-align: left;
    }
}

.clientes {
    margin: 20px 0 0 0;
}

.carta1 {
    margin-bottom:  15px;
}

.carta-thy {
    margin: 0 0 20px 0;
}