<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Registrate!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" ></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>   
        <link href="/css/registrate.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-sm-12 text-center">
                    <nav class="navbar navbar-expand-lg navbar-light" >
                        <a class="navbar-brand" href="/">Somos PNT</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContenido" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navContenido">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item ">
                                    <a class="nav-link " href="#">Inicio</a>
                                </li>
                                <li class="nav-text">
                                    <a class="nav-link" href="#">Articulos</a>
                                </li>
                                <li class="nav-text">
                                    <a class="nav-link" href="#">Contacto</a>
                                </li>
                            </ul>
                            <a href="#">
                                <span class="navbar-text">
                                    Ingresar
                                </span>
                            </a>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="row banner">
                <div class="col-lg-8 offset-lg-2 col-sm-12 texto-heading">
                    <h1>Registrate</h1>
                    <div class="row">
                        <div class="col-lg-7 col-sm-12 ">
                            <p>Registrate en nuestro portal para acceder a todos los beneficios únicos que ofrecemos.¡Sumate hoy a la comunidad!</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row registracion-de-usuario">
                <div class="col-lg-8 offset-lg-2 col-sm-12">
                    <div class="card shadow-sm center-align">
                        <div class="card-header">
                            <!--<div class="shadow-sm p-3 mb-5 bg-white rounded"><a href="#">Inicio</a> / Registracion de Usuario</div>-->
                            <a href="#">Inicio</a> / Registracion de Usuario
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-sm-12">
                    <div th:if="${mostrarMensajeEmail!=null}">
                        <div class="alert alert-success carta-thy">
                            El email: <strong><span th:text="${mostrarMensajeEmail}"></span></strong> ha sigo cargado exitosamente!
                        </div>
                    </div>
                    <div th:if="${mensajeError!=null}">
                        <div class="alert alert-danger carta-thy" th:text="${mensajeError}">
                        </div>
                    </div>
                    <form action="cargarusuario"  method="post">
                        <div class="form-group" >
                            <label for="exampleInputEmail1">Direccion Email</label>
                            <input type="text" name="email" class="form-control" required placeholder="Ingrese su Email">
                            <small>No puede haber usuarios repetidos.</small>
                        </div>
                        <div class="form-group" >
                            <label for="password">Password</label>
                            <input type="password" name="password"  class="form-control" required  placeholder="Password">
                            <small>Mínimo 6 caracteres. Números, letras y al menos 1 caracter especial.</small>
                        </div>
                        <button type="submit" value="submit" class="btn">Registrate</button>
                    </form>
                </div>
            </div>

            <div class="row clientes">
                <div class="col-lg-4 offset-lg-4 col-sm-12 text-center">
                    <h3>Clientes</h3>
                    <p>Confían en nosotros</p>
                </div>
            </div>

            <div class="row ">
                <div class="col-lg-3 offset-lg-3  col-sm-12 visible carta1">
                    <div class="card">
                        <div class="row">
                            <div class="col-lg-2 col-2 logo">
                                <a href="https://www.google.com">
                                    <img src="/image/1546351188-1538062800-80x80-hotjar-icon.png"  height="40" width="40" alt="Movistar logo"/>
                                </a>
                            </div>
                            <div class="col-lg-8 col-10 col-logo texto-card">
                                <strong>Movistar</strong>
                                <p>La empresa líder en telecomunicaciones</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-12 ">
                    <div class="card">
                        <div class="row">
                            <div class="col-lg-2 col-2 col-logo">
                                <a href="https://www.google.com">
                                    <img src="/image/1546366652-1538019411-Monday-purple_logo_80x80.png"  height="40" width="40" alt="Banco Saenz Logo"/>
                                </a>
                            </div>
                            <div class="col-lg-9 col-9 texto-card">
                                <strong>Banco Saenz</strong>
                                <p>Créditos y tarjetas virtuales, únicas en Argentina</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-2 col-sm-12 offset-lg-5 text-center">
                    <a href="https://twitter.com/?lang=es"><span  class="dot dot1"></span></a>
                    <a href="https://twitter.com/?lang=es"><span class="dot dot2"></span></a>
                    <a href="https://twitter.com/?lang=es"><span class="dot dot3"></span></a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 offset-lg-4 text-center">
                    <p><a href="#">SomosPNT</a>-Desarrollamos Software </p>
                </div>
            </div>
        </div>
    </body>
</html>
